/* Global styling */

body {
  margin: 0;
  font-family: 'Roboto';
  background: #eaeaea;
}

a {
  text-decoration: none;
}
/* Navigation */
.main_nav ul {
  list-style-type: none;
  display: inline-flex;
}
.main_nav ul li{
  margin-left: 20px;
  font-weight: bold;
  color: white;
}
.main_nav {
  background: #2b1452;
}
/* BANNNER */

.banner .main_cover {
  background: url('../images/cover.png');
  height: 465px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner .logo {
  font-family: 'Monoton';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 62px;
  color: #ffffff;
  font-size: 42px;
  text-align: center;
}

.banner span {
  display: block;
  height: 20px;
  background: #2196f3;
}

/* Artist List */

.artists_list {
  box-sizing: border-box;
  padding: 10px 30px;
}

.artists_list .artist_item {
  display: block;
  height: 290px;
  background-size: cover !important;
  margin-bottom: 20px;
  position: relative;
}
.artists_list .artist_item .artist_name {
  background: #2196f3;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.artists_list h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin: 20px;
}
header {
  font-family: 'Monoton';
  text-align: center;
  font-size: 33px;
  border-bottom: 1px solid #2196f3;
  color: #949494;
}

/* Artist's Bio */
.artist_bio {
  box-sizing: border-box;
  padding: 10px 30px;
}
.artist_bio .avatar span {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
  background-size: cover !important;
}
.artist_bio h3 {
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}
.artist_bio .bio_text {
  font-weight: 100;
  font-size: 14px;
}

.albums_list {
  margin: 20px;
}
.albums_list:after {
  clear: both;
  display: table;
  content: '';
}
.albums_list > img {
  float: left;
  width: 50%;
}

/* Album Detail */
.album_detail{
   width: 50%;
   text-align: center;
   float:left;
}

.album_detail img {
  width: 80%;
}
/* Footer */
.footer {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: #2b1452;
  color: #ffffff;
  padding: 20px 0px;
}
.footer a{
  color: #ffffff;
}
/* Contact Form */
label {
  width: 26%;
  display: block;
  float: left;
  text-align: right;
  height: 37px;
  padding: 9px 0px 0px;
}
form.contact_form {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}
input[type="text"],input[type="email"],input[type="textarea"] {
  margin-left: 16px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #2b1452;
  border-radius: 20px;
  width: 60%;
    float: left;
}
input[type="textarea"] {
  height: 100px;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="textarea"]:focus {
  outline: 0;
}
input[type="submit"] {
  background: #2196f3;
  border: 0;
  color: #ffff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 14px 58px;
  border-radius: 21px;
  font-weight: bold;
}
input[type="submit"]:active,input[type="submit"]:focus{
  outline:0;
}
input[type="submit"]:hover{
  background: #2b1452;
  cursor:pointer;

}


/* Media Queries */
@media only screen and (min-width: 1024px) {
  .artists_list .artist_item {
    float: left;
    width: 25%;
  }
}
@media only screen and (max-width: 1000px) {
  .artists_list .artist_item {
    float: left;
    width: 50%;
  }

  
 
}

@media only screen and (max-width: 600px) {
  .artists_list .artist_item {
    float: none;
    width: 100%;
  }
  .album_detail{
    width: 100%;
    text-align: center;
    float:none;
 }
}
